<%= image_tag @article.image.url, class: "article__image" %>
<section class="container mt-3">
	<div class="row">
		<div class="col-md-12">
			<div class="row justify-content-between">
				<div>
					
					<h1><%= @article.title %></h1>
					<small class="d-block text-muted">Views: <%= @article.views %></small>
					<% @article.tags.each do |tag| %>
						<span class="badge badge-secondary">
							<%= link_to tag.name, tag_path(tag), class: "tag-link" %>
						</span>
					<% end %>

				</div>
				<% if logged_in? %>
					<div class="article__manage d-flex flex-column text-center">
						<%= link_to "Edit", edit_article_path(@article) %>
						<%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Are you sure?"} %>
					</div>
				<% end %>
			</div>
			<div class="row mt-3">
				<div class="article__body col-md-12 p-3">
					<% @article.body.split("\n").each do |p| %>
						<p><%= p %></p>
					<% end %>
				</div>
				<div class="col-md-12 p-0 mt-3">
					<%= render partial: 'comments/form' %>
					<h3>Comments (<%= @article.comments.size %>)</h3>
					<div class="col-md-12 article__comments pl-0 mt-3">
						<%= render partial: 'comment', collection: @article.comments %>
					</div>
				</div>
				
			</div>
			
		</div>
	</div>
</section>
